loglevel=info
save-exact=true
legacy-peer-deps=true
update-notifier=false
audit=false
; Improve error logs
timing=true
; Silence deprecation warnings
metrics-registry=null
; Better error stack traces
foreground-scripts=true