@import "tailwindcss";
@layer theme, base, mui, components, utilities;
:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --fc-button-bg-color: #ffffff;
  --fc-button-text-color: #171717;
  --fc-button-active-bg-color: #ffffff;

  --fc-button-hover-bg-color: #262728;
  --fc-button-text-hover-color: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fc .fc-toolbar-title {
  font-size: 1.5em;
  margin: 0;
}

.fc .fc-toolbar-chunk {
  display: flex;
  justify-content: space-between;
}

.fc .fc-button-primary:hover {
  color: var(--fc-button-text-hover-color);
  background-color: var(--fc-button-hover-bg-color);
  border-color: var(--fc-button-hover-border-color);
}

.fc-toolbar-chunk .fc-addClassButton-button {
  background-color: #262728;
  color: #ffffff;
  padding: 0.5em 4em;
}
