.signup-container {
  display: flex;
  height: 92vh;
}

/* Left Sidebar */
.sidebar {
  width: 30%;
  background: linear-gradient(to right, #e0e0e0, #f5f5f5);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 2rem;
  position: relative;
  height: 100vh;
}

/* Logo Styling */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo-img {
  height: 40px;
  cursor: pointer;
}

.signup-title {
  margin-top: 20px;
  font-weight: 600;
}

.help-email {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

/* Right Form Section */
.form-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.form-box {
  width: 60%;
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.continue-btn {
  background-color: black !important;
  color: white !important;
  margin-top: 10px;
}

.login-text {
  margin-top: 15px;
  text-align: center;
}

.login-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* ScheduleDetails scoped styles */
.scheduleTable {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.scheduleTable th,
.scheduleTable td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

/* ConfirmRegistration scoped styles */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
}

.section-content p {
  margin: 5px 0;
  min-width: 300px;
  padding: 0;
}

.section-content ul {
  padding: 0;
  margin: 0;
}
